<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<aspNetCore processPath="dotnet" arguments=".\crowle.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" >
				<handlerSettings>
					<handlerSetting name="debugFile" value=".\logs\EnhancedAspnet-debug.log" />
					<handlerSetting name="debugLevel" value="FILE,TRACE" />
				</handlerSettings>
			</aspNetCore>>
		</system.webServer>
	</location>
</configuration>
<!--ProjectGuid: cf2bc47e-1177-4f9b-a365-ad3642dfadbc-->